# Gradle
.gradle/
**/build/
**/local.properties
**/.cxx/
**/.externalNativeBuild/

# IntelliJ / Android Studio
.idea/
*.iml
out/
**/xcuserdata/

# Kotlin
kotlin-daemon.*

# Logs
*.log

# Local env
.env

# Secrets
android/app/google-services.json
ios/GoogleService-Info.plist
keys/
turn/turnserver.conf
